*{
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
}

body{
  font-size: $base-font-size;
  font-family: Helvetica, Arial, sans-serif;
}

h1{
  font-weight: 500;
  margin-bottom: $space;
}

h2{
  font-size: $large-font-size;
  margin-bottom: $space;
}

p{
  margin-bottom: $space;

}

a{
  color: black;
}

input[type=text],input[type=email],input[type=password], p{
  font-size: $base-font-size;
  margin-bottom: $space;
  padding: $input-spacing;
  border: 1px solid $input-border;
  color: $dark-grey;
  border-radius: 5px;
  width:8rem;
  @media only screen and (min-width: 380px){
    width: 13rem;
  }
  @media only screen and (min-width: 480px){
    width: 25rem;
  }
  @media only screen and (min-width: 680px){
    width: 35rem;
  }
  @media only screen and (min-width: 780px){
    width: 38rem;
  }
}
